<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>webhaak UI</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#212121" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#212121">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <style>
        .deletebtn
        {
            background-color: red;
        }
        .deletebtn:hover
        {
            background-color: #ef5350; /* red lighten-1 */
        }
        .card-action .btn-small
        {
            margin-right: .5em;
            margin-top: .5em;
        }
    </style>
  </head>
  <body class="grey darken-2 grey-text text-lighten-2">
    <div class="container" id="app">
      <h1 class="header orange-text">webhaak triggers</h1>

      <div class="row">
          <div class="col s12 m12 l12">
              <div class="card-panel amber darken-1 white-text">
                  {{ statusMessage }}
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col s12 m6 l4" v-for="project in apps.projects">
              <div class="card grey darken-3">
                  <div class="card-content">
                      <span class="card-title">{{ project.title }}</span>
                      <p style="font-size: .9em;">{{ project.appkey }}</p>
                  </div>
                  <div class="card-action">
                    <button v-for="trigger in project.triggers" class="btn-small waves-effect waves-light" @click="doTrigger(trigger.url)">{{ trigger.title }}</button>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col s12 m12 l12">
              <button class="btn waves-effect waves-light" @click="getTriggersViaREST"><i class="material-icons left">refresh</i> Refresh triggers</button>
              <button class="btn waves-effect waves-light" @click="getKeyViaREST"><i class="material-icons left">vpn_key</i> Get a key</button>
              <button class="btn waves-effect waves-light deletebtn" @click="forgetServer"><i class="material-icons left">remove</i> Forget server</button>
          </div>
      </div>
    </div>
  <script>
        myStorage = window.localStorage;

        var projectsStorage = localStorage.getItem('webhaakProjects');
        try {
            console.log(JSON.parse(projectsStorage));
            projectsStorage = JSON.parse(projectsStorage);
        }
        catch (e) {
            projectsStorage = null;
        }
        if (projectsStorage == null) {
            projectsStorage = {projects: []};
        }


        var webhaakURL = localStorage.getItem('webhaakURL');
        if (webhaakURL == null) {
            webhaakURL = prompt('URL to webhaak (e.g., https://hook.example.com):');
            localStorage.setItem('webhaakURL', webhaakURL);
        }

        var secretKey = localStorage.getItem('webhaakKey');
        if (secretKey == null) {
            secretKey = prompt('webhaak secret key:');
            localStorage.setItem('webhaakKey', secretKey);
        }
        console.log('webhaakURL: ' + webhaakURL);
        console.log('webhaak secret: ' + secretKey);
        console.log(webhaakURL + "/admin/" + secretKey + "/list");

      var vm = new Vue({
        el: '#app',
        data: {
            apps: projectsStorage,
            serverURL: webhaakURL,
            serverKey: secretKey,
            statusMessage: 'ready'
        },
        methods: {
          getTriggersViaREST: function() {
            axios.get(webhaakURL + "/admin/" + secretKey + "/list")
              .then(response => {this.apps = response.data; window.localStorage.setItem('webhaakProjects', JSON.stringify(response.data))})
          },
          getKeyViaREST: function() {
            axios.get(webhaakURL + "/getappkey")
              .then(response => {this.statusMessage = response.data.key})
          },
          doTrigger: function(url) {
            axios.get(url)
              .then(response => {this.statusMessage = response.data.message})
          },
          forgetServer: function() {
            window.localStorage.removeItem('webhaakURL');
            window.localStorage.removeItem('webhaakKey');
            window.localStorage.removeItem('webhaakProjects');
          },
        }
      });

    </script>
  </body>
</html>
