<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>webhaak UI</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
  </head>
  <body>
    <div class="container" id="app">
      <h3 class="text-center">webhaak triggers</h3>

      <p class="text-center">{{ statusMessage }}</p>
      <button class="button" style="display:block;margin:auto;" @click="getTriggersViaREST">Refresh triggers</button>
      <hr>

      <div class="columns medium-3" v-for="project in apps.projects">
        <div class="card">
          <div class="card-divider">
            {{ project.title }}
          </div>
          <div class="card-section">
            <p>{{ project.appkey }}</p>
            <button v-for="trigger in project.triggers" class="button" style="margin-right: 1em;" @click="doTrigger(trigger.url)">{{ trigger.title }}</button>
          </div>
        </div>
      </div>

      <button class="button" style="display:block;margin:auto;" @click="forgetServer">Forget server</button>
    </div>
  </body>
  <script>
        myStorage = window.localStorage;

        var projectsStorage = localStorage.getItem('webhaakProjects');
        try {
            console.log(JSON.parse(projectsStorage));
            projectsStorage = JSON.parse(projectsStorage);
        }
        catch (e) {
            projectsStorage = null;
        }
        if (projectsStorage == null) {
            projectsStorage = {projects: []};
        }


        var webhaakURL = localStorage.getItem('webhaakURL');
        if (webhaakURL == null) {
            webhaakURL = prompt('URL to webhaak (e.g., https://hook.example.com):');
            localStorage.setItem('webhaakURL', webhaakURL);
        }

        var secretKey = localStorage.getItem('webhaakKey');
        if (secretKey == null) {
            secretKey = prompt('webhaak secret key:');
            localStorage.setItem('webhaakKey', secretKey);
        }
        console.log('webhaakURL: ' + webhaakURL);
        console.log('webhaak secret: ' + secretKey);
        console.log(webhaakURL + "/admin/" + secretKey + "/list");

      var vm = new Vue({
        el: '#app',
        data: {
            apps: projectsStorage,
            serverURL: webhaakURL,
            serverKey: secretKey,
            statusMessage: 'ready'
        },
        methods: {
          getTriggersViaREST: function() {
            axios.get(webhaakURL + "/admin/" + secretKey + "/list")
              .then(response => {this.apps = response.data; window.localStorage.setItem('webhaakProjects', JSON.stringify(response.data))})
          },
          doTrigger: function(url) {
            axios.get(url)
              .then(response => {this.statusMessage = response.data.message})
          },
          forgetServer: function() {
            window.localStorage.removeItem('webhaakURL');
            window.localStorage.removeItem('webhaakKey');
            window.localStorage.removeItem('webhaakProjects');
          },
        }
      });

    </script>
</html>
